<time class="updated" datetime="{{post.post_modified}}">{{ post.post_date|date }}</time>
<p class="byline author vcard">{{__('By', 'sage')}} <a href="{{post.author.link}}" rel="author">{{ post.author.name }}</a></p>
